body{
    margin:0px;
    font-family: 'Hina Mincho', serif;

}
nav{
    background-color: rgb(170, 79, 46);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 120px;
    box-sizing: border-box;
    align-items: center;
    position: fixed;

}
.image img{
    height: 68px;
    width: 90px;
    padding-left: 5px;
    cursor: pointer;
}
 nav ul {
     display: flex;
     list-style: none;
     margin: 0px;
     padding: 0px;

 }
 nav ul li{
     margin-left: 30px;

 }
 nav ul li a{
     font-size: 25px;
     font-weight: 900;
     text-decoration: none;
     color: rgb(5, 83, 83);
     text-transform: capitalize;
     transition: 0.4s;
     padding: 05px;

 }
 nav ul li a:hover{
     
     color: rgba(20, 220, 203, 0.836);
     padding: 8px 20px;
     text-transform: uppercase;
     border-bottom: 6px solid rgba(26, 31, 30, 0.836);
     
 }
 nav ul li a i{
     color: rgb(15, 173, 10);
     padding:8px;
 }
 
     nav ul li a{
         color:chartreuse;
     }
     
@media (max-width:900px) {
    nav{
        background-color: blueviolet;
    }
    nav ul li a{
        color: aqua;
    }
    
}